<template name="dashboard_apps_layout">
  {{setTitle this.name}}
  <input id="appId" type="hidden" value="{{this._id}}">
  <div class="container">
    <div class="dashboard">
      {{> dashboard_menu}}
      <div class="dashboard-body">
        <div class="mac-window-header">
          <div class="mac-window-header-options-left">
            <a href="/apps"><i class="fa fa-arrow-circle-left"></i> Back</a>
          </div>
          <a href="#"><i class="fa fa-cube"></i> Apps &raquo; {{this.name}}</a>
          <div class="mac-window-header-options-right">
            {{#if $eq status 'READY'}}
              {{#if url}}
                <a href="{{url}}" class="btn-view" target="_blank" data-toggle="tooltip" data-placement="bottom" title="View App"><i class="fa fa-eye"></i></a>
              {{/if}}
              {{#if sshUrl}}
                <a href="{{sshUrl}}" class="btn-ssh" data-toggle="tooltip" data-placement="bottom" title="SSH"><span class="octicon octicon-terminal"></span></a>
              {{/if}}
              <a href="/images/{{image._id}}" data-toggle="tooltip" data-placement="bottom" title="Image"><i class="fa fa-camera"></i></a>
            {{/if}}
            <a href="#" class="btn-folder" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Folder"><i class="fa fa-folder-open"></i></a>
            <a href="#" class="btn-restart" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Restart"><i class="fa fa-refresh"></i></a>
          </div>
        </div>
        <div class="header">
          <a href="/apps/{{this.name}}/logs" class="{{activeDashboardSubMenuItem 'logs'}} btn-logs"><i class="fa fa-file-text-o"></i><div class="text">Logs</div></a>
          <a href="/apps/{{this.name}}/settings" class="{{activeDashboardSubMenuItem 'settings'}}"><i class="fa fa-gear"></i><div class="text">Settings</div></a>
        </div>
        <div class="content">
          {{> yield}}
        </div>
      </div>
    </div>
  </div>
</template>
